
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.container {
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
}

.container h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
    color: black;
}

/* Estilo dos rótulos */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ccc;
}



input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 0 5px #888;
}

/* Botão */
button#btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button#btn:hover {
    background-color: #111;
    transform: translateY(-2px);
}

#mensagem-erro {
    margin-top: 15px;
    color: #ff4d4d;
    text-align: center;
    font-size: 14px;
}


@media (max-width: 480px) {
    .container {
        padding: 30px 20px;
    }

    .container h1 {
        font-size: 24px;
    }
}
